@media screen and (max-width: 660px) {
  .logobrand {
    width: 10%;
  }
  .main {
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .title-banner {
    font-size: 30px;
    line-height: 39px;
  }
  .main-banner {
    height: 100vh;
    position: relative !important;
    align-items: flex-start;
    padding-top: 11rem;
    font-size: 5vw !;
    line-height: 25px;
    font-weight: 500;
  }
.col-md-9.card-content-payment {
  display: flex;
  flex-direction: column;
}

.payment-ticket {
  width: 100%;
}
  .image_hero {
    width: 100% !important;
  }

  .service-description h1 {
    font-size: 5.6vw;
    line-height: 30px;
    padding-bottom: 0px;
  }
  .service-description {
    padding-left: 0;
  }

  .service-description p {
    font-size: 4vw;
  }
  .service-description ul li {
    font-size: 15px;
  }

  .title-why-us h1 {
    text-align: center;
  }
  .title-why-us p {
    text-align: center;
    padding-bottom: 0px;
  }

  .why-us {
    padding-bottom: 30px;
  }

  .title-slide p {
    padding: 15px;
    font-weight: 500;
  }

  .col-md-3 {
    padding: 5px;
  }

  .col-md-6 {
    margin-bottom: 30px;
  }

  .cta-banner {
    height: 60vh;
  }

  .left-content h5 {
    text-align: center;
  }

  .left-content h1 {
    text-align: center;
  }

  .contact {
    font-weight: 600;
  }

  .address {
    font-weight: 600;
  }

  .logobrand {
    padding-left: 0;
  }

  .table-option {
    grid-template-columns: 100%;
  }
  .table-option-detailcar {
    grid-template-columns: 100%;
  }

  .card {
    height: auto !important;
  }

  .swiper-button-prev {
    transform: translateX(-33px);
  }

  .swiper-button-next {
    transform: translateX(40px);
  }

  .ket-bank {
    margin-left: 9px;
  }

  .ant-sidenav{
    display: none;
  }
  .pay-track {
      flex-direction: column;
      row-gap: 15px;
  
  }
  .sign-up-custome {
      flex-direction: column;
      row-gap: 15px;
      justify-content: center;
      height: 100vh;
  }
  .sign-up-data,.right_data {
    display: none !important;
  }
  .left_data{
    padding: 25px;
    padding-left: 25px !important;
  }

}
@media screen and (max-width: 375px) {
  .main-banner {
    padding-top: 4rem;
  }
  .title-banner {
    font-size: 26px;
    line-height: 35px;
  }

  .hero_description p {
    font-size: 16px;
  }

  .button_banner {
    padding: 9px 26px;
    font-size: 14px;
  }
}
