  .trans-02{
    transition: .4s ease-in-out;
  }

  .offCanvas{
    width: 150px !important;
    text-decoration: none;
  }
  
  .logo {
    max-width: 155px;
  }
  
  .header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .topmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 130px;
  
  }
  
  .topmenu a {
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    color: #000000;
  }
  
  .topmenu a:hover {
    color: #40BFFF;
  }
  
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
  }

  .navlist a {
    color: black;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 24px;
    margin-right:12px;
  }

  .image-person-nav {
    padding-top: 20px;
  }

  .ml-auto{
    margin: 0 0 0 auto;
    padding-right: 20%;
    margin-right: 0;
  }

  .logobrand {
    padding-left: 90px;
    padding-right: 260px;
    padding-top: 32px;
  }
