.bg-secondary-custom{
    background: #F1F3FF;
}
.mb-40px{
margin-bottom: -80px;
/* margin-top: 100px; */
padding-top: 60px;
}
.pb-custom{
    padding-bottom: 50px;
}
  
.mb-113px{
    margin-bottom: 113px;
}

.mb-7{
    margin-bottom: 64px;
}

