.bg-secondary-custom{
    background: #F1F3FF;
}
.mb-40px{
padding-top: 125px;
}
.pb-custom{
    padding-bottom: 55px;
}
  
.mb-113px{
    margin-bottom: 113px;
}

.mb-7{
    margin-bottom: 64px;
}

