.detail-payment {
    justify-content: center;
    padding-top: 60px;
    height: 500px;
    border-radius: 10px;
    border: 3px solid #e5e5e5;
    margin: 0 0 0 auto;
}

.payment-description {
    border: 3px solid #e5e5e5;
    padding: 40px !important;
    border-radius: 10px;
}


.w-100-payment{
    width: 100%;
}

.row-payment {
    padding-bottom: 150px;
    column-gap: 40px;
}


.accordion-detail .accordion-header {
    border: none !important;
}
.accordion-detail .accordion-header button {
    font-weight:500;
    padding: 0px;
}

.accordion-detail .accordion-item {
    border: none !important;
}

.accordion-detail .accordion-header button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    box-shadow: none;
}

.accordion-detail .accordion-body {
    padding: 0px;
    margin-top: 15px;
}