.detail-payment-validation {
    justify-content: center;
    padding-top: 60px;
    height: 500px;
    border-radius: 10px;
    border: 3px solid #e5e5e5;
    margin: 0 0 0 auto;
}

.payment-description-validation {
    border: 3px solid #e5e5e5;
    padding: 40px !important;
    border-radius: 10px;
}


.w-100-payment-validation{
    width: 100%;
}

.row-payment-validation {
    padding-bottom: 150px;
    column-gap: 40px;
}


.payment-section {
    border: 3px solid #e5e5e5;
    padding: 40px !important;
    border-radius: 10px;
    margin-bottom: 10px;
}

.right-content-payment {
    border: 3px solid #e5e5e5;
    padding: 40px !important;
    border-radius: 10px;
   
}