
#faq {
  justify-content: center;
  column-gap: 8.25rem;
}

.faq-head {
  row-gap: 1rem;
  margin-bottom: 4px;
}

.q-list ul {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
    width: 41.75rem;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
  }
  
  .q-list li {
    list-style: none;
    vertical-align: middle;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #D4D4D4;
  }
  
  .question button {
    background-color: transparent;
    border: none;
  }
  
  .arrow-down {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .answer-active {
    overflow: hidden;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #D4D4D4;
    transition-duration: 0.8s;
  }
  
  .answer-inactive {
    overflow: hidden;
    height: 0;
    transition-duration: 0.8s;
  }