.swiper-slide {
  background: #f1f3ff;
  border-radius: 10px;
  padding: 28px;
  width: 45% !important;
}

.main-content {
  height: 250px;
  display: flex;
  align-items: center;
}

.title-slide {
  text-align: center;
}

.desc {
  font-size: 15px;
  font-weight: 600;
}

.fullname {
  font-size: 15px;
}

.swiper-button-next {
  height: 30px !important;
  width: 30px !important;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 100px !important;
  bottom: 20px !important;
  top: unset !important;
  right: 50% !important;
  transform: translateX(90px);
}

.swiper-button-next:hover {
  background-color: #5cb85f;
}

.swiper-button-next:hover:after,
.swiper-button-next:focus:after {
  color: white !important;
}

.swiper-wrapper {
  padding-bottom: 98px;
}

.swiper-button-next:after {
  color: #222222 !important;
  font-size: 11px !important;
}

.swiper-button-prev {
  height: 30px !important;
  width: 30px !important;
  background: white;
  color: #222222;
  border: 1px solid #c4c4c4;
  border-radius: 100px !important;
  bottom: 20px !important;
  top: unset !important;
  left: 50% !important;
  transform: translateX(10px);
}

.swiper-button-prev:after {
  color: #222222 !important;
  font-size: 11px !important;
}

.swiper-button-prev:hover {
  background-color: #5cb85f;
}

.swiper-button-prev:hover:after,
.swiper-button-prev:focus:after {
  color: white !important;
}

@media screen and (max-width: 660px) {
  .swiper-slide {
    width: 100% !important;
  }
}
