#whyUs {
    flex-direction: column;
    padding: 0 8.5rem;
    row-gap: 2rem;
    width: 100%;
  }

  .why-us {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
.inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap:32px;
    border: none;
  }

  .custom-card {
    display: block;
    width: 16.75rem;
    padding: 1.5rem;
    border-style: solid;
    border-color: #D0D0D0;
    border-width: 1px;
    border-radius: 0.5rem;
}